<body>
<main>
<h1>ねこの登録</h1>
<%= form_with model: @cats do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :birthday %>
    <%= form.text_field :birthday %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
</main>
</body>
